@font-face {
  font-family: myFont;
  src: url("../fonts/TTCommons-Regular.ttf");
}

::-moz-selection {
  background: #5bc0de;
  color: #fff;
}

::selection {
  background: #5bc0de;
  color: #fff;
}

html, body {
  font-family: myFont;
}

* {
  scroll-behavior: smooth;
  font-size: 1.03em;
  line-height: 1.6;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

mark {
  background-color: rgba(0, 0, 0, 0);
  color: #17a2b8;
}

ul {
  list-style-type: none;
}

a:hover {
  text-decoration: none;
}

.info {
  color: #17a2b8;
}

.p-50-0 {
  padding: 50px 0px;
}

.p-10-0 {
  padding: 10px 0px;
}

.h100 {
  height: 100px !important;
}

.aunderline {
  text-decoration: underline;
}

.brd-none {
  border: none;
}

textarea {
  resize: none;
}

.navbar {
  padding: 10px auto;
}

.naslovna {
  background-image: url(../img/naslovna1.png);
  height: 100%;
  padding: 150px 0px 150px 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.proizvodi a:hover {
  border: 1px solid #dee2e6;
}

.proizvodi a img:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.o-nama {
  background-image: url(../img/naslovna2.jpg);
}

.klijenti {
  background-image: url(../img/naslovna3.jpg);
}

.koraci img {
  max-width: 30%;
}

.dizajneri img {
  max-width: 70%;
}

.order-form-input {
  width: 100%;
  padding: 8px 8px;
  font-size: 0.9em;
  border-color: #17a2b8;
}

#navm {
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 1rem;
}

#navm .sidenav-trigger {
  height: auto;
}

#navm .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#navm .nav-wrapper a, #navm .nav-wrapper ul {
  position: relative;
  color: #6c757d;
}

#navm .nav-wrapper ul a {
  font-size: 1.3rem;
  padding: 0px 25px;
}

#navm .nav-wrapper ul a:hover {
  background-color: white;
  color: #17a2b8;
}

#navm .nav-wrapper .matkorpa i {
  line-height: auto;
  height: auto;
}

.btn-flat {
  text-transform: none;
  font-size: 1em;
}

#kontaktForma h4, #kontaktForma button {
  margin: 0px;
}

#kontaktForma .btn {
  height: auto;
  background-color: #17a2b8;
  border-radius: 5px;
  padding: 5px 16;
  font-size: 1.15em;
  line-height: 2.5em;
  text-transform: none;
  border-radius: 5px;
  border: 1px solid #17a2b8;
}

#kontaktForma .btn:hover {
  background-color: white;
  color: #17a2b8;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.absolute {
  position: fixed;
  width: 10px;
  font-size: 2em;
  left: 130px;
  top: 150px;
}

.absolute a {
  color: #6c757d;
  padding: 5px;
}

.absolute a:hover {
  color: #17a2b8;
}

.dflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.oautoru {
  border-top: 1px solid #6c757d;
  margin-bottom: 50px;
}

.oautoru .autorslika {
  height: inherit !important;
}

.oautoru .autorslika img {
  width: 100%;
}

.oautoru #omeni p {
  font-size: 1.15em;
}

.box {
  background-color: white;
  color: #17a2b8;
  border-radius: 5px;
  border: 1px solid #17a2b8;
  left: 0px !important;
  margin-left: 0px !important;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.box:hover {
  background-color: #17a2b8;
  color: white;
  border: 1px solid #17a2b8;
}

.row::after {
  display: none;
}

.sivo {
  color: #6c757d;
}

.boxnh {
  border-top: 1px solid #6c757d;
  border-bottom: 1px solid #6c757d;
  width: 100%;
  margin-bottom: 50px;
}

.p-20-0 {
  padding: 20px 0px  !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.modal {
  min-height: 400px;
}

.modal p {
  border-bottom: 1px solid #dee2e6;
}

#icon_prefix, #icon_telephone, #icon_prefix2 {
  border: none;
  border-bottom: 1px solid #17a2b8;
}

.posalji {
  background-color: #17a2b8;
  color: white;
  margin: 0px auto;
  letter-spacing: 0.1em;
}

@media only screen and (min-width: 601px) {
  nav a.sidenav-trigger {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .oautoru #omeni p {
    font-size: 1.3em !important;
  }
  .boxhn .box {
    font-size: 1.05em !important;
  }
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    -webkit-transform: none;
            transform: none;
    left: auto;
  }
  #navm .nav-wrapper ul a {
    padding: 0px 7px;
  }
  .absolute {
    left: 40px;
  }
  .bn {
    border-right: none !important;
  }
  .autorslika {
    margin: 0px auto;
  }
}

@media only screen and (max-width: 601px) {
  .absolute {
    left: auto;
    right: 30px;
  }
  #kontaktForma h4 {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 575px) {
  nav a {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  nav button {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  nav #korpa {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .p-50-0 {
    padding: 50px 0px;
  }
  .dn {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */